@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #C1F52A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #C1F52A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}